.grid {
  display: grid;
  grid-template-areas:
    'header header header header header header header header header'
    'noteslist editor editor editor editor editor editor editor editor'
    'buttons buttons buttons buttons buttons buttons buttons buttons buttons';
  grid-template-columns: repeat(9 1fr);
}

#header {
  grid-area: header
}

#noteslist {
  grid-area: noteslist
}

#editor {
  grid-area: editor
}
#buttons {
  grid-area: buttons
}